<% @current_user ||= User.find(session[:user_id]) if session[:user_id] %>
<% if @current_user %>
  <%= render 'layouts/header' %>

  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- Posts -->
        <div class="col-lg-6 col-xs-6">
          <div class="small-box bg-green">
            <div class="inner">
              <h3><%= Post.count %></h3>
              <p>Posts</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
          </div>
        </div>

        <!-- Empresas -->
        <div class="col-lg-6 col-xs-6">
          <div class="small-box bg-green">
            <div class="inner">
              <h3><%= Company.count %></h3>
              <p>Empresas</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<% else %>
  <!-- Main Slider -->
  <section class="main-slider">
    <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
      <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
        <ul>
          <li data-transition="parallaxvertical">
            <img alt="" class="rev-slidebg" src="/landing/images/main-slider/image-1.jpg">

            <div class="tp-caption" style="z-index: 7; white-space: nowrap; text-transform:left;">
              <div class="slider-content">
                <% if Post.last %>
                  <h2><%= Post.last.company_name %></h2>
                  <div class="text"><%= Post.last.company_description.truncate_words(20) %></div>
                  <a href="/blog" class="theme-btn btn-style-two">Ir a Blog</a>
                <% else %>
                  <h2>No hay publicaciones disponibles</h2>
                <% end %>
              </div>
            </div>
          </li>

          <li data-transition="parallaxvertical">
            <img alt="" class="rev-slidebg" src="/landing/images/main-slider/image-2.jpg">
            <div class="tp-caption" style="z-index: 7; white-space: nowrap; text-transform:left;">
              <div class="slider-content">
                <h2>Servicio de Taller de Liderazgo y Gestión Empresarial</h2>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Author Info -->
  <div class="author-info">
    <div class="auto-container">
      <div class="row clearfix">
        <div class="image-column col-md-4 col-sm-12 col-xs-12">
          <div class="image">
            <img src="/high_mi_gran.jpg" alt="">
          </div>
        </div>
        <div class="content-column col-md-8 col-sm-12 col-xs-12">
          <div class="content-inner">
            <h2>Mi Gran Empresa</h2>
            <div class="text">
              <p>Somos una plataforma que facilita el aprendizaje y desarrollo de los emprendedores y MiPyME...</p>
            </div>
            <ul class="social-icon-one alternate">
              <li><a href="https://www.facebook.com/MiGranEmpresaMx/"><span class="fa fa-facebook"></span></a></li>
              <li class="linkedin"><a href="https://www.linkedin.com/company/mi-gran-empresa/"><span class="fa fa-linkedin-square"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sidebar Page Container -->
  <div class="sidebar-page-container">
    <div class="auto-container">
      <div class="row clearfix">
        <!-- Content Side -->
        <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="sec-title">
            <h2>Comunidad</h2>
          </div>
          <div class="content-blocks">
            <% Company.last(5).each do |company| %>
              <div class="news-block-four">
                <div class="inner-box">
                  <div class="row clearfix">
                    <div class="image-column col-md-6 col-sm-6 col-xs-12">
                      <div class="image">
                        <a href="/empresa/<%= company.name.parameterize %>" style="width: 200px; height:200px;">
                          <img src="<%= company.logo.url %>" style="width: 200px; height:200px;" alt="">
                        </a>
                      </div>
                    </div>
                    <div class="content-box col-md-6 col-sm-6 col-xs-12">
                      <div class="content-inner">
                        <h3><a href="/empresa/<%= company.name.parameterize %>"><%= company.name %></a></h3>
                        <div class="text"><%= company.descripcion.truncate_words(20) %></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <!-- Sidebar -->
        <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <aside class="sidebar default-sidebar">
            <div class="sidebar-widget sidebar-social-widget">
              <div class="sidebar-title">
                <h2>Síguenos</h2>
              </div>
              <ul class="social-icon-one alternate">
                <li><a href="https://www.facebook.com/MiGranEmpresaMx/" target="_blank"><span class="fa fa-facebook"></span></a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/mi-gran-empresa/" target="_blank"><span class="fa fa-linkedin-square"></span></a></li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
<% end %>
